.Slide {
  padding: 3rem;
  font-size: 3vw;

  &.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  > h1 {
    font-size: 8vw;
    text-align: center;
  }
  > h1.title {
    margin-top: 0;
  }
  > h2 {
    font-size: 4vw;
  }
}
